# Renomeie esse arquivo para "credential.tfvars" e preencha os valores com as credenciais do Azure para autenticação.

arm_client_id = "value"
arm_client_secret = "value"
arm_subscription_id = "value"
arm_tenant_id = "value"


# Para obter as credenciais, você pode criar um Service Principal no Azure usando o comando abaixo. Substitua "{subscription-id}" pelo ID da sua assinatura do Azure.
# az ad sp create-for-rbac --name "aula-pos" --role="Contributor" --scopes="/subscriptions/{subscription-id}"
#
# O retorno sera algo como:
# {
#   "appId": "n3nt438g-452d-4ccd-b5f8-892f8bggnu",
#   "displayName": "aula-pos",
#   "password": "INvety~nnuifidYmweifow",
#   "tenant": "7843hf83g-334c-4d27-89jr2-nf7n3478fn38"
# }
#
#
# O "appId" corresponde ao "arm_client_id"
# O "password" corresponde ao "arm_client_secret"
# O "tenant" corresponde ao "arm_tenant_id"
# O "subscription-id" que você usou no comando corresponde ao "arm_subscription_id".
#
